body{
  font-family: 'Source Code Pro', monospace;
  background-color: rgb(61, 60, 60);
  color: rgb(255, 255, 255);
  background-image: url(./imagenes/fondobody.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

h2{
  font-size: 50px;
  line-height: 50px;
  margin: 1px;
}

h3{
  font-size: 18px;
  font-weight: 300;
}

p{
  text-align: justify;
  
}

i{
  font-size: 50px;
}
.socialicon{
float: right;
width: 50px;
display: flex;
justify-content: center;
}

#inge{
  font-size: 20px;
  color: rgb(255, 243, 243);
  margin-top: 1px;
  margin-bottom: 1px;
  
}

.seccion{
  padding: 10px 100px 10px 100px;
}

#socialmedia{
  list-style: none;
  margin-top: 30px ;
  margin-bottom: 30px;
  padding-left: 0px;
}

:any-link{
  color: #ffffff;
}

.inicio{
  background-image: url(./imagenes/iniciofondo.jpg);
  padding-top: 70px;
  padding-bottom: 90px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px 10px 10px 10px;
}

.divisor{
  border-top: 2px solid #7305a2;
  margin:  10px 10px 10px 10px;
}

.exp{
  background-image: url(./imagenes/fondoskills.jpg);
  color: #333;
  padding-top: 10px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300;
  margin-left: 10px;
  margin-right: 10px; 
  margin-top: 30px;
}

.yoimg{
  float: left;
  padding: 10px 20px 10px 10px;
}
#sobremii{
  padding: 10px 10px 20px 20px;
  text-align: center;
}

.textexp{
  padding: 20px 100px 50px 100px;
  text-align: justify;
}


.card{
  color: #333;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

.exptext{
  font-size: 32px;
}

.contacto{
  background-color: #333;
  padding: 10px 10px 10px 10px;
  text-align: center;
  border-radius: 10px;
}